/*custom styles up top*/

.sidebar {height:100%;width:299px;background-color:#F1FFFD;position:relative;overflow-x: hidden}
.sidebar hr { margin: 10px 15px 2px}
.sidebar .title, .sidebar .title a{font-family:"Lucida Grande", "Geneva";font-size:20px;line-height:24px;font-weight: 400; color: #084354; width: 240px;}
.sidebar .controls a, .sidebar .controls a:hover {color: #252525; text-decoration: none; background: transparent;}
.sidebar .timestamp{opacity:0.6;font-family:"Geneva";font-size:10px;line-height:16px;width: 240px}
.sidebar .edit {opacity:0.3;font-family:"Geneva";padding-left:12px;background-image:url('images/edit.png');background-position:0 4px;background-repeat:no-repeat;}
.sidebar .edit, .sidebar .edit a { font-size:10px; line-height:18px; }
.sidebar .close{position:absolute;right:10px;top:15px;width:16px;height:16px;opacity:0.2;background-image:url('images/close.png');}
.sidebar .close:hover,.sidebar .edit:hover{opacity:1;cursor: pointer; cursor: hand;}
.sidebar .top{background-color:#EBF9F7;border-bottom:1px solid #E1EEEC;padding:10px 16px 2px 16px;}
.sidebar .top .btn { margin: 10px 30px; }
.sidebar .description {font-family: "Lucida Grande"; font-size: 12px; color: #707070; margin: 5px 0px 0px 0px;}
.sidebar .datasource {overflow: auto;background: url('images/tiny-triangle.png') no-repeat 0px 6px;padding-left: 7px; font-family: "Lucida Grande"; font-size: 10px; color: #959595;}
.strong {font-weight: bold; margin-right: 5px}
.sidebar .bottom{width: 100%; overflow-x: hidden}
.sidebar .bottom #editor { position: absolute;margin: 10px;right: 0px;left: 0px;width: auto;bottom: 10px;top: 55px; font-size: 12px;}
.sidebar .property {padding: 10px 16px; border-bottom: 1px solid #DDEFEC; overflow: auto}
.sidebar .key{width: 90px; float: left; font-family: "Lucida Grande"; font-size: 13px; font-weight: bold; color: #464646}
.sidebar .value{width: 170px; float: left; color: #707070; }
.sidebar .link{text-decoration: underline}
.sidebar p{font-family:"Geneva";font-size:11px;line-height:12px;padding-bottom:10px;color:#252525;}
td.collapsed {width: 5%; overflow: auto;}
.column-header-title.collapsed { background: url('images/raquo.png') no-repeat right 8px; }
.data-table-cell-value.collapsed {width: 60px; overflow: hidden;}
#loading-message {
  text-align: center;
  font-size: 300%;
  color: #999;
  padding: 3em .5em;
}

#loading-message img {
  position: relative;
  top: -4px;
}

#notification-container {
  width: 400px;
  left: 520px;
  position: fixed;
  top: 2px;
  height: 40px;
  overflow: hidden;
  z-index: 100;
  text-align: center;
}

.project-actions .btn-group {
  float: left;
}

.project-actions .dropdown-menu {
  left: -97px;
}

#header { margin: 5px; }
/*end custom styles*/

/*

Copyright 2010, Google Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    * Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above
copyright notice, this list of conditions and the following disclaimer
in the documentation and/or other materials provided with the
distribution.
    * Neither the name of Google Inc. nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,           
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY           
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/

#body {
  display: none;
}

.project-title {
  float: left;
  padding: 2px 0 0 0;
  font-size: 1.6em;
}

.project-controls, .project-actions {
  margin: 3px 2px 0px 0px;
  display: block;
  float: right;
}

#project-name-button {
  padding: 3px;
  border: 1px solid transparent;
}

#project-name-button:hover {
  background: #ffffd6;
  border: 1px solid #ccc;
  border-top: 1px solid #aaa;
}

#logged-in-status {
  position: relative;
  bottom: 1px;
  padding: 0 8px;
  font-size: 11px;
  line-height: 24px;
}

#logged-in-status img {
  position: relative;
  bottom: 2px;
}

a#logged-in-status {
  color: black;
  font-weight: 500;
  font-family: Helvetica Neue;
  font-size: 11px;
}

.left-panel {
  position: fixed;
  overflow: hidden;
  padding: 0px;
  font-size: 1.3em;
  background: #DCF0F4;
  top: 40px;
  left: 0px;
  width: 300px;
  bottom: 0px;
}

.left-panel .ui-tabs .ui-tabs-panel {
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 0;
}

.right-panel {
  position: fixed;
  top: 40px;
  left: 300px;
  bottom: 0px;
  right: 0px;
  overflow: auto;
  padding: 0px;
  padding-left: 5px;
  background: #D0E8F0;
}

#tool-panel {
  position: relative;
  height: 32px;
}

#summary-bar {
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 1.8em;
  font-weight: bold;
}

#summary-total {
  font-size: 0.8em;
  font-weight: normal;
}

#extension-bar {
  position: absolute;
  top: 0px;
  right: 10px;
  white-space: nowrap;
  font-size: 1.3em;
  padding: 5px 0;
}

#extension-bar .secondary {
  font-size: 0.85em;
}

#view-panel {
  background: white;
  overflow: hidden;
}

#facet-panel, #history-panel {
  overflow: auto;
}

