.userControls {position: absolute; right: 50px; top: 50px;}
.icon { opacity: 0.4; float: left; width: 35px; height: 35px; line-height: 35px; }

.new_dataset { line-height: 35px; padding-right: 10px; margin-right: 25px}
.new_dataset .icon { background: url('images/add.png') center center no-repeat; }
.session_actions, .user_actions { float: left; }
.account .option:hover { background: #DCF0F4; }
.userControls .option {float: left; min-width: 35px; height: 35px;}
.userControls .option:hover { background: #DCF0F4; }

.account {cursor: pointer; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.account .user_settings .icon { background: url('images/settings.png') center center no-repeat; }
.account .gravatar {float: left}
.account .gravatar img {margin: 4px; border: 1px solid #D0E8F0}
.account .logout .icon { background: url('images/logout.png') center center no-repeat; }
.account .username { float: left; margin-right: 4px; font-style: normal; color: #6D6D6C; line-height: 35px; }

.datasets { margin: 0px auto; width: 750px; }

ul#landing_nav {
  margin: 0;
  padding: 0;
  font-size: 14px; }
  ul#landing_nav > li {
    display: inline;
    margin-right: 0.5em;
    text-shadow: 0 1px 0 #ddd; }
    ul#landing_nav > li a {
      color: #000; }
      ul#landing_nav > li a.login {
        padding: 5px 8px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #DCF0F4;
        border-top: 1px solid #D0E8F0;
        -webkit-box-shadow: 0 1px 1px #ddd;
        -moz-box-shadow: 0 1px 1px #ddd;
        box-shadow: 0 1px 1px #ddd; }
        ul#landing_nav > li a.login:hover {
          background-color: #D0E8F0; }

.settings {
  width: 600px;
  overflow: auto;
  margin: 0 auto;
  padding: 5% 0;}
  .settings input:not(.button),
  .settings textarea {
    font-family: "Arial", "Helvetica", sans-serif;
    padding: 0.3em;
    display: block;
    width: 95%;
    border: 1px solid #cccccc;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .settings .cancel {margin-left: 5px; line-height: 40px; float: left}
  .settings .cancel:hover { text-decoration: underline; cursor: pointer; cursor: hand; }
  .settings input[type='hidden'] {
    display: none; }
  .settings input, .settings p {
    margin-bottom: 10px },
  .settings label {
    margin-top: 15px;
    font-weight: normal;
    color: #999999;
    text-shadow: 0 1px 1px #eeeeee; }
  .settings form input,
  .settings form label {
    font-size: 21px; }
  .settings form label {
    top: 13px;
    text-shadow: 0 1px 1px #cccccc; }
  .settings form input[type='text'],
  .settings form input[type='password'] {
    -webkit-box-shadow: 0 1px 0px white, 0 -1px 0px #888888;
    -moz-box-shadow: 0 1px 0px white, 0 -1px 0px #888888;
    box-shadow: 0 1px 0px white, 0 -1px 0px #888888;}
    .settings form p:last-child {
      margin-left: 3px; }
    .settings form p span.pod_location {
      color: #888888; }
    .settings .button {
      float: left;
      width: auto;
      height: 40px;
      border: 1px solid #ddd;
      padding: 5px;
      color: #666666;}
      .settings .button:hover {
        cursor: pointer; cursor: hand;
        border-color: #000;
        color: #444444; }

/*Copyright (c), Development Seed  
All rights reserved.

Redistribution and use in source and binary forms, with or without modification,
are permitted provided that the following conditions are met:

- Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.
- Redistributions in binary form must reproduce the above copyright notice, this
  list of conditions and the following disclaimer in the documentation and/or
  other materials provided with the distribution.
- Neither the name "Development Seed" nor the names of its contributors may be
  used to endorse or promote products derived from this software without
  specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/

/**
 * Reset ==============================================================
 * Based on http://meyerweb.com/eric/tools/css/reset
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
select,
textarea,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin:0px;
  padding:0px;
  border:0px;
  outline:0px;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  line-height:inherit;
  }

ol,
ul,
ul,
ul li { list-style:none; }

blockquote,
q { quotes:none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content:'';
  content:none;
  }

/* remember to define focus styles! */
:focus { outline:0px; }

/* remember to highlight inserts somehow! */
ins { text-decoration:none; }
del { text-decoration:line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse:collapse;
  border-spacing:0px;
  }

/**
 * Font reset =========================================================
 *
 * Specifically targets form elements which browsers oftentimes give
 * special treatment.
 */
input,
select,
textarea,
body { font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; }

/*
** Markup free clearing
** Details: http://www.positioniseverything.net/easyclearing.html
*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */


@font-face {
  font-family:DroidSans;
  src:url('fonts/DroidSans.ttf');
  }

@font-face {
  font-family:DroidSans;
  font-weight:bold;
  src:url('fonts/DroidSansBold.ttf');
  }

@font-face {
  font-family:DroidSansMono;
  src:url('fonts/DroidSansMono.ttf');
  }

body {
  font:normal 15px/20px DroidSans,Arial,sans-serif;
  background:#fff;
  color:#222;
  margin:0px;
  padding:0px 0px 40px;
  }

a {
  color:#222;
  text-decoration:none;
  }

.limiter {
  width:720px;
  margin:0px auto;
  }

.description { font-size:13px; }

/**
 * Markdown ===================================================================
 */
h1,
h2,
h3,
h4,
h5,
h6 { font-weight:bold; }

h1 {
  font-size:24px;
  line-height:30px;
  margin:0px 0px 10px;
  }

.md a {
  border-bottom:1px solid #eee;
  text-decoration:none;
  }

.md a:hover { color:#c20; }

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6,
.md ul,
.md ol,
.md p,
.md img {
  display:block;
  margin:20px 0px;
  }

.md ul ul { margin:0px; }

.md h1 {
  color:#222;
  font-size:24px;
  line-height:40px;
  margin:0px;
  border:0px;
  }

.md h2 { font-size:20px; }
.md h3 { font-size:18px; }

.md ul li {
  list-style:disc;
  margin-left:20px;
  }

.md ol li {
  list-style-type:decimal;
  margin-left:20px;
  }

tt,
pre,
code {
  font:normal 13px/20px DroidSansMono, monospace;
  margin:0px;
  padding:0px;
  }

.md pre,
.md code { color:#666; }

.md a { color:#5ab; }

pre {
  margin:0px 0px 20px;
  padding-left:20px;
  }

.md img {
  box-shadow:#ddd 0px 2px 5px;
  -moz-box-shadow:#ddd 0px 2px 5px;
  -webkit-box-shadow:#ddd 0px 2px 5px;
  }

/**
 * Columns ====================================================================
 */
.page {
  padding-top:19px;
  border-top:1px solid #ccc;
  }

.column-75 {
  width:520px;
  float:left;
  }

.column-50 {
  float:left;
  width:320px;
  padding-right:40px;
  }

ul.download {
  text-align:center;
  margin:20px 0px;
  display:block;
  }

.download li {
  margin: 10px;
  float:left;
  border:1px solid #ccc;
  width:310px;
  min-height:210px;
  padding:19px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

.download li.last { float:right; }

.download li:hover {
  box-shadow:#dcf0f4 0px 0px 0px 10px;
  -moz-box-shadow:#dcf0f4 0px 0px 0px 10px;
  -webkit-box-shadow:#dcf0f4 0px 0px 0px 10px;
  }

.download h3 {
  text-align:center;
  font-size:18px;
  }

a.download .icon {
  display:block;
  margin:10px auto;
  width:80px;
  height:80px;
  background:url(images/sprite.png) 80px 80px no-repeat;
  }

a.download .icon { background-position:0px -80px; }

a.download strong,
a.download span { display:block; }
a.download span.size { color:#666; }

.windows { text-align:center; }

/**
 * Navigation =================================================================
 */
.navigation {
  width:160px;
  padding-left:19px;
  border-left:1px solid #ccc;
  font-size:13px;
  float:right;
  }

.navigation .H1,
.navigation .H2 { font-weight:bold; }
.navigation .H3 { margin-left:10px; }
.navigation .H4 { margin-left:20px; }

/**
 * Wrapper ====================================================================
 */
.header {
  padding:40px 0px 20px;
  height:80px;
  margin:0px auto;
  position:relative;
  }

.logo {
  display:block;
  width:340px;
  height:80px;
  overflow:hidden;
  text-indent:-9999px;
  background:url(images/sprite.png) 0px 0px no-repeat;
  }

.mapbox {
  position:absolute;
  right:0px;
  top:0px;
  height:60px;
  width:120px;
  overflow:hidden;
  text-indent:-9999px;
  background:url(images/sprite.png) -160px -80px no-repeat;
  }

.menu {
  position:absolute;
  right:0px;
  top:80px;
  border:1px solid #ccc;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

.menu li,
.menu li a { float:left; }

.menu li a {
  font-size:13px;
  padding:4px 9px 4px 10px;
  min-width:60px;
  text-align:center;
  border-right:1px solid #ccc;
  }

.menu li.first a {
  border-radius:4px 0px 0px 4px;
  -moz-border-radius:4px 0px 0px 4px;
  -webkit-border-radius:4px 0px 0px 4px;
  }

.menu li.last a {
  border:0px;
  border-radius:0px 4px 4px 0px;
  -moz-border-radius:0px 4px 4px 0px;
  -webkit-border-radius:0px 4px 4px 0px;
  }

.menu li a:hover { background:#dcf0f4; }
.menu li a.active { background:#888; color:#fff; }

/**
 * Banner =====================================================================
 */
.banner {
  position:relative;
  border-top:5px solid #d0e8f0;
  border-bottom:5px solid #d0e8f0;
  background:#dcf0f4;
  padding:15px 0px;
  margin:0px 0px 20px;
  font-size:13px;
  }

.banner .screenshot {
  position:relative;
  width:800px;
  height:450px;
  margin:0px auto;
  background:url(images/screenshot.jpg) no-repeat;
  }

.banner li {
  min-height:80px;
  float:left;
  width:150px;
  border-right:1px solid #a0d0e0;
  padding:0px 9px 0px 20px;
  }

.banner li.first {
  float:left;
  width:160px;
  border-right:1px solid #a0d0e0;
  padding:0px 19px 0px 0px;
  }

.banner li.last {
  border:0px;
  width:330px;
  padding:0px 10px 0px 20px;
  }

#video {
  position:absolute;
  opacity:0;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background:rgba(0,0,0,.8);
  transition:opacity .25s;
  -moz-transition:opacity .25s;
  -webkit-transition:opacity .25s;
  }

#video iframe {
  display:block;
  margin:85px auto 0px;
  border:10px solid rgba(0,0,0,.5);
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

#video .close {
  color:#fff;
  position:absolute;
  right:20px;
  top:10px;
  }

a.video {
  opacity:0;
  color:#fff;
  display:block;
  position:absolute;
  background:rgba(0,0,0,.75);
  left:250px;
  top:150px;
  width:300px;
  height:120px;
  text-align:center;
  line-height:120px;
  font-size:20px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

.video #video { opacity:1; z-index:1; }
.screenshot:hover a.video { opacity:1; }



/*

Copyright 2010, Google Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    * Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above
copyright notice, this list of conditions and the following disclaimer
in the documentation and/or other materials provided with the
distribution.
    * Neither the name of Google Inc. nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,           
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY           
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #666;
  opacity: 0.5;
}

.dialog {
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
}

.dialog-frame {
  margin: 0 auto;
  text-align: left;
  background: white;
  border: 1px solid #3a5774;
}

.dialog-border {
  border: 4px solid #D0E8F0;
}

.dialog-header {
  background: #e0edfe;
  padding: 10px;
  font-weight: bold;
  font-size: 1.6em;
  color: #000;
  cursor: move;
}

.dialog-body {
  overflow: auto;
  font-size: 1.3em;
  padding: 15px;
}

.dialog-instruction {
  padding: 0 0 7px;
}

.dialog-footer {
  font-size: 1.3em;
  background: #eee;
  padding: 10px;
}

.dialog-busy {
  width: 400px;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}